.header {
  max-width: 825px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373f68;
  border-radius: 10px;
  padding: 14px 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  text-align: left;
}
