*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #F7F8FD;
  margin-inline: 165px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}


.homePage {
  display: flex;
  gap: 30px;
  margin-block: 90px;
}

@media(width <= 768px) {
  body {
    margin-inline: 50px;
  }

  .homePage {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media(width <= 425px) {
  body {
    margin-inline: 24px;
  }

  .homePage {
    margin-block: inherit;
  }
}