.addCommentForm {
  padding: 24px 32px 32px 34px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
}

#addComment .addCommentForm  h2 {
  margin-bottom: 24px;
  color: #3a4374;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  text-align: left;
}

#addComment .addCommentBtn button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #ad1fea;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.23px;
  text-align: left;
  color: #f2f4fe;
  padding: 12.5px 24px 11.5px 24px;
  border-radius: 10px;
}

#addComment small {
  color: #647196;
  font-size: 15px;
  font-weight: 400;
  line-height: 21.68px;
  text-align: left;
}

#addComment .btn-group {
  display: flex;
  justify-content: space-between;
}

#addComment textarea {
  background-color: #F2F4FF;
  border: none;
  padding: 16px 24px;
  margin-block: 10px;
  width: 100%; 
  min-width: 100px; 
  box-sizing: border-box; 
  resize: none;
  font-size: 16px;
  border-radius: 5px;
}