.commentListContainer {
  padding: 24px 32px 32px 32px ;
  background-color: #ffffff;
  border-radius: 10px;
  h2 {
    margin-bottom: 28px;
    color: #3a4374;
    font-size: 18px;
    font-weight: 700;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    text-align: left;
  }
}
